# CMake build directories
cmake-build-*/
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# IDE specific files
.idea/
.vscode/
*.swp
*~

# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app